.deck-container {
	font-size: 20pt;
}
.deck-container h1 {
	font-size: 50pt;
}
.deck-container h2 {
	font-size: 35pt;
}
.deck-container h3 {
	font-size: 25pt;
}

.deck-container .images-stack {
	position: relative;
}
.deck-container .images-stack .slide.deck-previous,
.deck-container .images-stack .slide.deck-before {
	display: none;
}

.deck-container .bgwhite {
	-webkit-box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
	-o-box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
}

.deck-container .syntaxhighlighter-container {
	padding: 0 0.5em;
}
.deck-container .syntaxhighlighter-container .syntaxhighlighter {
	overflow: hidden !important;
}

@media screen and (max-width: 800px) {
	/* TODO un style mobile, mais j'ai la flemme là tout de suite */
}

.deck-container.on-slide-0 footer,
.deck-container.on-slide-1 footer,
.deck-container.on-slide-20 footer,
.deck-container.on-slide-25 footer,
.deck-container.on-slide-36 footer,
.deck-container.on-slide-46 footer,
.deck-container.on-slide-76 footer,
.deck-container.on-slide-77 footer {
	display: none;
}
.deck-container {
	position: relative;
}
.deck-container footer {
	display: block;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	overflow: hidden;
	background: #fff;
	z-index: 4;
	border-top: 1px solid #666;
	background: #eee;
	padding: 3px 0 5px 0;
	font-size: 14px;
}
.deck-container footer .agenda {
	color: #999;
	font-weight: normal;
	display: block;
	position: absolute;
	left: 20px;
	top: 10px;
}
.deck-container footer .talk {
	font-size: 1.1em;
	color: #777;
	display: block;
	text-align: center;
}
.deck-container footer .deck-status {
	position: absolute;
	right: 20px;
	top: 10px;
}

.deck-container .goto-form {
	bottom: auto;
	top: 0;
}
